:root {
  --primary-color: #ffffff;
  --secondary-color: black;
  --tertiary-color: #DDA97B;
}

main {
  margin: 0 auto;
  max-width: 100%;
  padding: 0;
}

html,
body {
  min-height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

a {
  color: black !important;
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

.container {
  width: 500px;
  clear: both;
}

.container input {
  width: 100%;
  clear: both;
}

#contact-form {
  background-color: var(--tertiary-color);
  padding: 20px;
  color: var(--secondary-color);
  border-style: solid;
  border-width: 3px;
  border-color: var(--secondary-color);
  width: 40%;
  margin: 3.5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

form-input {
  border: 1px solid #024e76;
  border-radius: 10px;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: var(--secondary-color);
  width: 100%;
  margin-bottom: 15px;
  background-color: rgba(255,255,255,0.75);
}    

.form-input:focus {
  background-color: rgba(255,255,255,1);
  outline: none;
}

.contact-form label {
  margin: 0 5px;
}

.contact-form button {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

.contact-form button:hover {
  background-color: var(--tertiary-color);
}

.footerrow {
  display: flex;
  justify-content: center;
  padding: 50px;
}