:root {
  --primary-color: #ffffff;
  --secondary-color: black;
  --tertiary-color: #DDA97B;
}

main {
  margin: 0 auto;
  max-width: 100%;
  padding: 125px;
}

html,
body {
  min-height: 100%;
}

Nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul {
  display: inline-block;
}

Nav li {
  float: left;
}

a {
  color: black !important;
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

.container {
  width: 500px;
  clear: both;
}

.container input {
  width: 100%;
  clear: both;
}

#contact-form {
  background-color: var(--tertiary-color);
  padding: 20px;
  color: var(--secondary-color);
  border-style: solid;
  border-width: 3px;
  border-color: var(--secondary-color);
  width: 40%;
  margin: 3.5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}


.footerrow {
  display: flex;
  justify-content: center;
  padding: 50px;
}

h1 {
  text-align: left;
}

h2 {
  text-align: center;
}

h3 {
  text-align: left;
}

h4 {
  text-align: center;
}

.container {
  position: relative;
  width: 50%;
}

.img-thumbnail {
  opacity: 1;
  display: inline-block;
  width: 45%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.container:hover .img-thumbnail {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color:var(--tertiary-color);
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}